@model ProductVM

<h3>Edit Product</h3>

<form asp-controller="Product" asp-action="Edit" method="post">
    <div asp-validation-summary="All"></div>

    <input type="hidden" asp-for="ProductID" />

    <label asp-for="Name">Product Name</label>
    <input type="text" asp-for="Name" class="form-control" />
    <span asp-validation-for="Name" class="text-danger"></span>
    <br />
    <label asp-for="Description">Description</label>
    <input type="text" asp-for="Description" class="form-control" />
    <span asp-validation-for="Description" class="text-danger"></span>
    <br />
    <label asp-for="Unit">Unit</label>
    <!-- Changed input type to text to accept non-numeric values -->
    <input type="text" asp-for="Unit" class="form-control" />
    <span asp-validation-for="Unit" class="text-danger"></span>
    <br />
    <br />

    <a asp-controller="Product" asp-action="Index" class="btn btn-primary">
        Back
    </a>

    <input type="submit" class="btn btn-success" value="Save Changes" />
</form>

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
